@keyframes showRight {
    from {transform: translateX(100%);}
}

.Wrapper {
    max-width: 75rem;
    margin: 0 auto;
}

.Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -11rem;
}

.Left {
    padding: 0 4rem 0 2rem;
}

.Left h2 {
    font-size: 5rem;
    text-align: center;
    margin-top: 8rem;
}

.Left p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-top: 2rem;
}

.GetQuoteMobile {
    display: none;
}

.Right {
    background-image: url(../images/backgrounds/noroot.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.Image {
    margin-left: -1rem;
    margin-bottom: -1.5rem;
    animation: showRight 2s ease-in;
}

.GetQuote {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.Button {
    width: 18rem;
    height: 4.5rem;
    color: white;
    background: linear-gradient(#eba46b, #eb762f);
    border: 1px solid #944b1e;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1.5rem;
    filter: drop-shadow(3px 2px 7px #944b1e);
    transition: .5s;
}

.Button:hover {
    background: linear-gradient(#eba46b, #eb762f);
    transform: scale(1.05);
}

@media only screen and (max-width: 75rem) {
    .Container {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    .Left {
        padding: 0 2rem;
    }
    .Left h2 {
        font-size: 3rem;
        text-align: center;
        margin-top: 3rem;
    }
    .Left p {
        font-size: 1rem;
        margin-top: 1rem;
    }
    .GetQuoteMobile {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }
    .GetQuote {
        display: none;
    }
}