.Wrapper {
    background-color: #074578;
}

.Container {
    display: grid;
    grid-template-columns: 20% 22.5% 22.5% 35%;
    max-width: 75rem;
    padding: 4rem 0 0;
    margin: 0 auto;
}

.Container a, .Container p {
    color: white;
    font-size: 1.3rem;
    padding-bottom: 1em;
}

.Container a:hover {
    color: #ff9045;
}

.Links, .Contacts {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-left: 2em;
}

.Links ul {
    margin: 0;
}

.Links li {
    padding-bottom: 1em;
}

.MailForm {
    display: flex;
    align-items: flex-start;
    top: 0;
    padding-left: 3em;
}

.MailForm input {
    background-color: white;
    align-self: flex-start;
    width: 100%;
    border: none;
    border: 2px solid #074578;
    border-radius: 2rem;   
}

.MailForm input::placeholder {
    font-family: 'Luckiest Guy',Arial, sans-serif;
    font-size: 1.2rem;
}

.UnderFooter {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: .5em 0;
}

.UnderFooter p {
    font-size: 14px;
}

.UnderFooterLink {
    color: white;
}
  
.UnderFooterLink:hover {
    color: #ff9045;
}

@media only screen and (max-width: 75rem) {
    .Container {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }
    .Logo {
        margin: 0 auto;
        max-width: 8rem;
    }
    .Links {
        text-align: center;
        padding: 1em 0
    }
    .Contacts {
        text-align: center;
        padding: 0;
    }
    .MailForm {
        justify-content: center;
        padding: 0;
    }
    .UnderFooter {
        text-align: center;
        padding: .5em;
    }
}