.Wrapper {
    background-color: #074578;
}

.Container {
    display: grid;
    grid-template-columns: 20% 22.5% 22.5% 35%;
    max-width: 75rem;
    padding: 4rem 0 0;
    margin: 0 auto;
}

.Container a, .Container p {
    color: white;
    font-size: 1.3rem;
    padding-bottom: 1em;
}

.Container a:hover {
    color: #ff9045;
}

.Links, .Contacts {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-left: 2em;
}

.MailForm {
    padding-top: 1.5rem;
    padding-left: 3em;
}

.MailForm input {
    width: 100%;
    border: none;
    border: 2px solid #074578;
    border-radius: 2rem;
    padding: 1.6em;
}

.MailForm input::placeholder {
    font-family: 'Luckiest Guy',Arial, sans-serif;
    font-size: 1.2rem;
}

.Button {
    width: 18rem;
    height: 4.5rem;
    color: white;
    background: linear-gradient(#eba46b, #eb762f);
    border: 1px solid #944b1e;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1.5rem;
    filter: drop-shadow(3px 2px 7px #944b1e);
    transition: .5s;
}

.Button:hover {
    background: linear-gradient(#eba46b, #eb762f);
    transform: scale(1.05);
}

.UnderFooter {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: .5em 0;
}

.UnderFooter p {
    font-size: 14px;
}

.UnderFooterLink {
    color: white;
}
  
  .UnderFooterLink:hover {
    color: #ff9045;
}