.Container {
    max-width: 75rem;
    margin: auto;
    padding: 3rem 6.1% 12rem;
}

.MainImg {
    position: relative;
    z-index: -1;
}

.Header {
    font-size: 4.7rem;
    text-align: center;
}

.Description {
    text-align: center;
    padding-bottom: 1rem;
}

.ArrowRight, .ArrowLeft {
    position: relative;
    color: #074578;
    font-size: 3rem;
}

.ArrowRight:hover, .ArrowLeft:hover {
    color: #ff9045;
}

@media only screen and (max-width: 920px) {
    .Container {
       padding: 3rem 1.75rem 6rem;
    }
    .Header {
        font-size: 3rem;
        -webkit-text-stroke: 2px #074578;
        text-shadow: 3px 3px 5px #6b78838f;
    }
    .ArrowRight, .ArrowLeft {
        font-size: 2rem;
        margin-left: -.7rem;
    }
    .ArrowLeft {
        position: relative;
        margin-left: 1.6rem;
    }
}

@media only screen and (max-width: 600px) {
    .Container {
        padding: 3rem 1.75rem 4rem;
     }
    .ArrowRight {
        margin-left: -.7rem;
        font-size: 1.75rem;
    }
    .ArrowLeft {
        margin-left: 1.8rem;
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 400px) {
    .Container {
       padding: 1.5rem ;
    }
    .ArrowRight, .ArrowLeft {
        font-size: 1.5rem;
    }
    .ArrowLeft {
        margin-left: 2rem;
    }
}