.Wrapper {
    background-color: #d2e7f9;
    padding-bottom: 3rem;
}

.Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 75rem;
    margin: 0 auto;
    padding-top: 5rem;
}

.Header {
    font-size: 4.7rem;
    text-transform: uppercase;
    padding: 4rem 0 3rem;
}

.Photos {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    padding: 5rem 0;
    margin-right: -16rem;
}

.PhotosMobile {
    display: none;
}

.ContactForm {
    width: 60rem;
    background-color: white;
    border-radius: 5rem;
    padding: 0 4rem 0 20rem;    
}

.ContactForm p {
    font-weight: 300;
}

@media only screen and (max-width: 87.5rem) {
    .Container {
        max-width: 60rem;
    }
    .ContactForm {
        padding: 0 2rem 1rem 24rem;
    }
    .Photos {
        margin-right: -21rem;
    }
}

@media only screen and (max-width: 75rem) {
    .Container {
        display: flex;
        flex-direction: column;
        padding-top: 2.1rem;
    }
    .Header {
        font-size: 3rem;
        -webkit-text-stroke: 2px #074578;
        padding: 2rem;
        text-align: center;
    }
    .Photos {
        display: none;
    }
    .PhotosMobile {
        display: flex;
        justify-content: center;
    }
    .ContactForm {
        width: 97%;
        padding: .5rem;
        margin: 0 auto;
    }
    .ContactForm p {
        padding: 0 1.5rem 1.5rem;
    }
}