.container {
    max-width: 75rem;
    background-image: url(../images/backgrounds/header.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 961px;
    margin: 0 auto;
}

.label {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 3rem;
}

.Phone span {
    filter: drop-shadow(1px 1px 7px white);
    font-weight: 600;
}

.Phone, .OurProjects {
    transition: .5s;
}

.Phone:hover, .OurProjects:hover {
    transform: scale(1.05);
}

.OurProjectsMobile {
    display: none;
}

.Header {
    text-transform: uppercase;
    font-size: 6.25rem;
    line-height: 1.25;
    text-align: center;
    margin-top: 4.5rem;
}

.HeaderDescription {
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
    filter: drop-shadow(1px 1px 7px white);
    margin-top: 2rem;
}

.Button {
    width: 18rem;
    height: 4.5rem;
    color: white;
    background: linear-gradient(#eba46b, #eb762f);
    border: 1px solid #944b1e;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1.5rem;
    filter: drop-shadow(3px 2px 7px #944b1e);
    transition: .5s;
}

.Button:hover {
    background: linear-gradient(#eba46b, #eb762f);
    transform: scale(1.05);
}

.Button:after, .Button:before, .Button:visited, .Button:focus {
    background: linear-gradient(#eba46b, #eb762f);
}

@media only screen and (max-width: 87.5rem) {
    .container {
        max-width: 60rem;
    }
}

@media only screen and (max-width: 75rem) {
    .container {
        min-height: 48rem;
    }
    .label {
        display: flex;
        flex-direction: column;
    }
    .Header {
        font-size: 3rem;
        margin-top: 0;
    }
    .HeaderDescription {
        font-size: 1.1rem;
        font-weight: 300;
        padding: 0 4rem;
        margin-top: 0;
    }
    .OurProjects {
        display: none;
    }
    .OurProjectsMobile {
        display: flex;
        padding: 1rem 0;
    }
}