.RotateStrip {
    height: 8rem;
    width: 1920px;
    background-color: #ff9045;
    transform: rotate(357deg);
    margin-top: -3rem;
}

.Wrapper {
    background-color: #ff9045;
    margin-top: -4rem;
    padding-bottom: 4rem;
}

.Container {
    max-width: 75rem;
    margin: 0 auto;
}

.Container li {
    padding: .5em;
}

.Header{
    font-size: 90px;
    text-align: center;
    position: relative;
}

.HeaderDescription {
    position: relative;
    font-family: 'Luckiest Guy';
    color: white;
    font-size: 2.1rem;
    text-align: center;
    -webkit-text-stroke: 1px #074578;
    text-shadow: 3px 3px 5px #07457879;
    padding-top: .5rem;
    padding-bottom: 2rem;
}

.FirstRow {
    display: flex;
}

.FirstRowLeft {
    height: fit-content;
    width: 60%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 1em;    
    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
}

.SecondRow {
    display: flex;
    margin-top: -6rem;
}

.FirstRowRight {
    display: flex;
    align-items: stretch;
    border-radius: 1rem;
    overflow: hidden;
    margin-left: 1em;
    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
}

.SecondRowLeft {
    display: flex;
    align-items: stretch;
    border-radius: 1rem;
    overflow: hidden;
    margin-right:1em;
    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
}

.SecondRowLeftMobile {
    display: none;
}

.SecondRowRight {
    height: fit-content;
    width: 55%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 8rem;
    margin-left: 1em;
    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
}

.ThirdRow {
    background-color: white;
    border-radius: 1rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
}

.ThirdRow p {
    line-height: 1.6;
    padding: 1rem 2rem;
}

@media only screen and (max-width: 87.5rem) {
    .Container {
        max-width: 60rem;
    }
    .FirstRowRight {
        width: 50%;
    }
    .SecondRow {
        margin-top: 0;
    }
    .SecondRowLeft {
        margin-top: -2.5em;
    }
    .SecondRowRight {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 75rem) {
    .RotateStrip {
        margin-top: -3.2rem;
    }
    .Wrapper {
        margin-top: -2rem;
        padding-bottom: 3rem;
    }
    .Container li {
        font-size: 1rem;
        line-height: 1.4;
    }
    .Header{
        font-size: 3rem;
    }
    .HeaderDescription {
        font-size: 1.4rem;
        padding: .5rem 1.5rem 2rem;
    }
    .FirstRow {
        flex-direction: column;
    }
    .FirstRowLeft {
        width: 95%;
        margin: 0 auto;
        padding: .5rem 1rem .5rem 0;
    }
    .FirstRowRight {
        width: 100%;
        margin: .75rem auto;
        border-radius: 0;
    }
    .SecondRow {
        flex-direction: column;
        margin: 0;
    }
    .SecondRowLeft {
        display: none;
    }
    .SecondRowRight {
        width: 95%;
        margin: 0 auto;
        padding: .5rem 1rem .5rem 0;
    }
    .SecondRowLeftMobile {
        display: flex;
        margin: .75rem auto;
    }
    .ThirdRow {
        width: 95%;
        font-size: 1rem;
        margin: 0 auto;
        text-align: justify;
        margin-top: 1rem;
    }
    .ThirdRow p {
        font-size: 1rem;
    }
}

