.RotateStrip {
    height: 8rem;
    width: 1920px;
    background-color: #ff9045;
    transform: rotate(357deg);
    margin-top: -3rem;
}

.Wrapper {
    background-color: #ff9045;
    margin-top: -4rem;
    padding-bottom: 3rem;
}

.Container {
    max-width: 75rem;
    margin: 0 auto;    
}

.Container li {
    padding: .5em;
}

.Header{
    font-size: 3rem;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #074578;
    text-shadow: 3px 3px 5px #07457879;
    padding-bottom: 2rem;
}

.FirstRow {
    display: flex;
    justify-content: space-between;
}

.FirstRowLeft {
    position: relative;
    height: fit-content;
    width: 50%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 1em;    
}

.SecondRow {
    display: flex;
    margin-top: -1rem;
    justify-content: space-between;
}

.FirstRowRight {
    margin-left: 1em;
    width: 50%;
}

.SecondRowLeft {
    margin-right:1em;
    margin-top: -6rem;
    width: 50%;
}

.SecondRowLeftMobile {
    display: none;
}

.SecondRowRight {
    height: fit-content;
    width: 50%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 3rem;
    margin-left: 2em;
}

@media only screen and (max-width: 87.5rem) {
    .Container {
        max-width: 60rem;
    }
    .Header {
        -webkit-text-stroke: 1px #074578;
    }

    .SecondRow {
        margin-top: 0; 
    }
    .SecondRowLeft {
        margin-top: 1em;
    }
    .SecondRowRight {
        margin-top: -2rem;
    }
}

@media only screen and (max-width: 75rem) {
    .Wrapper {
        padding-bottom: 2rem;
    }
    .Container li {
        font-size: 1rem;
        line-height: 1.4;
    }
    .Header{
        font-size: 1.6rem;
        -webkit-text-stroke: 1px #074578;
        padding: 1rem;
    }
    .FirstRow {
        flex-direction: column;
    }
    .FirstRowLeft {
        width: 95%;
        margin: 0 auto;
        padding: .5rem;
    }
    .FirstRowRight {
        width: 100%;
        margin: .75rem auto;
    }
    .SecondRow {
        flex-direction: column;
        margin: 0;
    }
    .SecondRowLeft {
        display: none;
    }
    .SecondRowRight {
        width: 95%;
        margin: 0 auto;
        padding: .5rem;
    }
    .SecondRowLeftMobile {
        display: flex;
        margin: .75rem auto;
    }
}