.RotateStrip {
    height: 8rem;
    width: 1920px;
    background-color: #d2e7f9;
    transform: rotate(357deg);
}

.Wrapper {
    background-color: #d2e7f9;
    margin-top: -4rem;
    padding-bottom: 5rem;
}

.Container {
    max-width: 75rem;
    margin: 0 auto;    
}

.Container li {
    padding: .5em;
}

.Header{
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #074578;
    text-shadow: 3px 3px 5px #07457879;
    padding-bottom: 2rem;
}

.FirstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FirstRowLeft {
    position: relative;
    height: fit-content;
    width: 50%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 1em;
    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
}

.FirstRowLeft h3 {
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #074578;
    font-size: 21px;
    -webkit-text-stroke: 0px #074578;
    text-shadow: 0px 0px 0px #074578;
}

.FirstRowRight {
    display: flex;
    align-items: stretch;
    margin-left: 1em;
    width: 50%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
}

.SecondRow {
    display: flex;
    margin-top: -1rem;
    justify-content: space-between;
}

.SecondRowLeft {
    display: flex;
    align-items: stretch;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 3rem;
    width: 50%;
    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
}

.SecondRowLeftMobile {
    display: none;
}

.SecondRowRight {
    height: fit-content;
    width: 50%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 3rem;
    margin-left: 2em;
    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
}

.SecondRowRight h3 {
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #074578;
    font-size: 21px;
    -webkit-text-stroke: 0px #074578;
    text-shadow: 0px 0px 0px #074578;
}

@media only screen and (max-width: 87.5rem) {
    .Container {
        max-width: 60rem;
    }
    .Header {
        font-size: 3rem;
        -webkit-text-stroke: 1px #074578;
    }
    .FirstRowLeft {
        width: 65%;
        padding: .75rem 1.5rem .25rem .5rem;
        text-align: justify;
    }
    .FirstRowLeft h3 {
        font-size: 18px;
    }
    .FirstRowRight {
        height: 402px;
    }

    .SecondRow {
        margin-top: 0; 
    }
    .SecondRowLeft {
        width: 65%;
        margin-top: 1em;
    }
    .SecondRowRight {
        text-align: justify;
    }
    .SecondRowRight h3 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 75rem) {
    .RotateStrip {
        margin-top: -2rem;
    }
    .Wrapper {
        padding-bottom: 2rem;
    }
    .Container li {
        font-size: 1rem;
        line-height: 1.4;
    }
    .Header{
        font-size: 1.6rem;
        -webkit-text-stroke: 1px #074578;
        padding: 1rem;
    }
    .FirstRow {
        flex-direction: column;
    }
    .FirstRowLeft {
        width: 95%;
        margin: 0 auto;
        padding: .5rem 1rem .5rem 0;
    }
    .FirstRowRight {
        width: 100%;
        margin: .75rem auto;
        border-radius: 0;
    }
    .SecondRow {
        flex-direction: column;
        margin: 0;
    }
    .SecondRowLeft {
        display: none;
    }
    .SecondRowRight {
        width: 95%;
        margin: 0 auto;
        padding: .5rem 1rem .5rem 0;
    }
    .SecondRowLeftMobile {
        display: flex;
        margin: .75rem auto;
    }
}